# Statistische Analyse der 'category'-Spalte

Dieses Notebook f√ºhrt eine kurze statistische Analyse der `category`-Spalte aus den Metadaten durch.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# --- Konfiguration ---
METADATA_PATH = '../output/amazing_logos_v4/data/amazing_logos_v4_cleanup/metadata3.csv'

# --- Daten laden ---

df1 = pd.read_csv(METADATA_PATH)
print("Metadaten erfolgreich geladen.")

Metadaten erfolgreich geladen.

In [2]:
df1.category.value_counts()

category
minimalist                       25630
food                              7858
real_estate                       7807
education                         7664
restaurant                        7340
                                 ...
control                              1
gym_supplement                       1
industrial_fabric_agent              1
film_photography_production          1
secure_legal_document_storage        1
Name: count, Length: 44810, dtype: int64

In [3]:
# --- Konfiguration ---
METADATA_PATH = '../output/amazing_logos_v4/data/amazing_logos_v4_cleanup/metadata9.csv'

# --- Daten laden ---

df2 = pd.read_csv(METADATA_PATH)
print("Metadaten erfolgreich geladen.")

Metadaten erfolgreich geladen.

In [4]:
df2.category.value_counts()

category
unclassified               73954
sports_recreation          11383
restaurant_dining          10963
real_estate_residential    10825
healthcare_general         10534
                           ...
fitness_health               217
funeral_services             182
tattoo_body_art              177
import_export                145
tattoo body_art               16
Name: count, Length: 109, dtype: int64

In [5]:
# --- Konfiguration ---
METADATA_PATH = '../output/amazing_logos_v4/data/amazing_logos_v4_cleanup/metadata9_with_main.csv'

# --- Daten laden ---

df3 = pd.read_csv(METADATA_PATH)
print("Metadaten erfolgreich geladen.")

Metadaten erfolgreich geladen.

In [6]:
df3.category_main.value_counts()

category_main
other                           127815
entertainment_sports_media       39934
tech                             33925
retail_hospitality               32500
food_beverage                    30818
health                           20933
professional_financial_legal     19883
real_estate_construction         19373
manufacturing_transport          15212
education                        11761
Name: count, dtype: int64